<h3>New Book</h3>
<label for="title">Title</label>
{{input value=title id="title"}}
<label for="author">Author</label>
{{input value=author id="author"}}
<label for="price">Price</label>
{{input value=price id="price"}}
<label for="description">Description</label>
{{textarea value=description id="description"}}
<button {{action "save"}}></button>
